body {
	margin: 0;
}

.separator {
	background-color: #333;
	height: 2px;
}

/* Lists */

ul {
	padding: 0;
	margin: 0;
}

li {
	padding: 0;
	list-style: none;
}

.ls-x {

}

.ls-y {

}

/* Lists (Tables) */

.ls-tables {

}

.ls-tables .item {
	font-size: 1.5em;
	text-align: center;
}

.ls-tables .item a {
	display: block;
	padding: 12px 0;
}

/* Lists (Categories) */

.ls-categories {

}

.ls-categories .item {
	text-align: center;
	padding: 20px 0;
}

.ls-categories .item a {
	display: block;
	margin: 0 auto;
	width: 30%;
	border-radius: 50%;
	transition: transform 300ms ease-in-out;
}

.ls-categories .item a:hover,
.ls-categories .item a:focus {
	transform: scale(2);
}

/* Tables (Orders) */

.table-orders .cell {
	cursor: pointer;
}

.table-orders .cell span {
	display: inline-block;
	text-align: center;
	width: 50%;
}

.table-orders .cell button {
	width: 20%;
}

/* Collections (Foods) */

.collection-foods .cell {
	border: 2px solid #FFF;
	text-align: center;
	cursor: pointer;
}

/* Cells */

.cell.cell-bg-red,
.cell.cell-bg-default {
	background-color: rgba(244, 13, 66, 0.4);
}

.cell.cell-bg-blue {
	background-color: rgba(38, 130, 196, 0.4);
}

.cell.cell-bg-orange {
	background-color: rgba(255, 91, 43, 0.4);
}

.cell.cell-bg-yellow {
	background-color: rgba(253, 209, 49, 0.4);
}

.cell.cell-bg-disabled {
	opacity: 0.6;
}